@model r1whms.Models.Item
@{
    // ViewBag.Title = "Edit Page";
    // ViewData.SubmitLabel = "Save";
}

<p>TODO: Edit existing (if provided) or add a new item</p>


<form asp-controller="Item" asp-action="Edit" method="post">
    
    @Html.Label("Name", "Contact Name: ")
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })      

    @Html.Label("Description", "Description: ")    
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control resizer" }) 

    <input type="submit" value="Save">
</form>

